body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  
  #cabe {
    background-color: #475D7F;
    height: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    margin-top: 20px;
  }
  
  #logo_nome {
    position: absolute;
    top: 27px;
    left: -50px;
    width: 500px;
    height: 100px;
    object-fit: cover;
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {

  
    #logo {
      position: relative;
      width: 100px;
      height: auto;
      margin: 0;
    }
  
    #logo_nome {
      position: relative;
      width: 100px;
      height: auto;
      margin: 0;
    }
  
    #cabe {
      height: 100px;
    }
  }
  
  #perfil {
      width: 05%;
      position: absolute;
      margin-left: 90%;
  
  }

  .caixa {
    background-color: #475D7F;
    position: relative;
    height: 700px;
    width: 80%;
  }

  .lolo {
      position: absolute;
      margin-top: 2%;
      margin-left: -48%;
      width: 20%;
  }

  .titu {
      position: absolute;
      margin-top: 4%;
      margin-left: 38%;
      font-size: 50px;
      color: rgba(255, 255, 255, 0.801);
  }

  .inputs {
      position: absolute;
      margin-top: 10%;
      height: 72.5%;
      width: 100%;
  }

  .container {
    background-color: blue;
    padding: 15px;
    display: grid;
    grid-template-columns: 20% 20% 24% 35%;
    grid-template-rows: 40% 50% 60%;
    height: 500px;
}

.container div {
    border: 2px solid red;
    padding: 20px;
    background-color: blue;
}

#foto {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#h2 {
  color: rgba(255, 255, 255, 0.801);
}

#text {
    border-radius: 2px;
    border-color: white;
    padding: 03%;
    width: 90%;
  }

#text1 {
  width: 500px;
  height: 100px;
  resize: none;
}

#botao {
  width: 30%;
  height: 30px;
}

#descri {
  width: 207%;
}

h1 {
  font-family: cursive;
}